extends layout

block content
 .container-fluid.container
  form(method='GET' action='/readers') 
    a(href='/readers') Back
  .mt-4.button-row.d-flex.align-items-center
    .reader-name #{data.reader_name}
    .outline.d-flex.align-items-center.ms-4
      .label-num-books.me-2 # Books:
      if data.book_detail
       .num-books #{data.book_detail.length}
      else  
       .num-books 0
    if id == 1 || currentUser
     if id == 1 || currentUser.userId == id
      .addBookButton
        button#addBook.btn.btn-secondary.btn-lg(type='button') ADD BOOK
  .row.table-row
    table#favoriteBooks.table.table-striped
      thead
       tr
        if id == 1 || currentUser
         if id == 1 || currentUser.userId == id
          th(scope='col') Date Added
          th(scope='col') Title
          th(scope='col') Author
          th(scope='col') Genre
          th(scope='col') Rating
          th(scope='col') Own copy
          th.d-none.d-sm-table-cell.col-1(scope='col')
         else 
          th(scope='col') Date Added
          th(scope='col') Title
          th(scope='col') Author
          th(scope='col') Genre
          th(scope='col') Rating
          th(scope='col') Own copy
      tbody
      each book in data.book_detail
       tr
        if id == 1 || currentUser
         if id == 1 || currentUser.userId == id
            td #{book.dateMonthYear}
            td #{book.bookinfo[0].title}
            td #{book.bookinfo[0].author}
            td #{book.bookinfo[0].genre}
            td #{book.rating}
            td(style= 'width: 100px; text-align: center;')= book.own_copy ? '✅' : '❌'
            td.d-none.d-sm-table-cell(style= 'width: 80px; text-align: center;')
              svg.bi.bi-pencil(xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='currentColor' viewbox='0 0 16 16')
                    path(d='M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z')
              button.btn-link.btn 
               svg.bi.bi-trash(xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='currentColor' viewbox='0 0 16 16')
                    path(d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z')
                    path(fill-rule='evenodd' d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z')
         else 
          td #{book.dateMonthYear}
          td #{book.bookinfo[0].title}
          td #{book.bookinfo[0].author}
          td #{book.bookinfo[0].genre}
          td #{book.rating}
          td(style= 'width: 100px; text-align: center;')= book.own_copy ? '✅' : '❌'
  #addBookModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
  #addBookModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                  h5#exampleModalLabel.modal-title New Book
                  button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
            .modal-body
              form(method='POST' action='')
                .mb-2
                    label.form-label(for='title') Book Title
                    input#title.form-control(type='text', name='title')
                    small No Error
                .mb-2
                    label.form-label(for='author') Author
                    input#author.form-control(type='text', name='author')
                    small No Error
                .mb-2
                    label.form-label(for='genre') Genre
                    select#genre.form-select(aria-label='Select genre', name='genre')
                        option(value='') select genre
                        option(value='SciFi/Fantasy') SciFi/Fantasy
                        option(value='Mystery/Crime') Mystery/Crime
                        option(value='Short Stories') Short Stories
                        option(value='Historical Fiction') Historical Fiction
                        option(value='Beach Read') Beach Read
                        option(value='Fiction (general)') Fiction (general)
                        option(value='Non-Fiction, Memoir') Non-Fiction, Memoir
                        option(value='Learning/Fact-Based') Learning/Fact-Based
                    small No Error
                .mb-2.rating-question
                    label.form-label(for='rating') Rating
                    select#rating.form-select(aria-label='Your rating', name='rating')
                        option(value='') Your rating
                        option(value="1: dont bother") 1: don&apos;t bother
                        option(value='2: just ok') 2: just ok
                        option(value='3: pretty good') 3: pretty good
                        option(value='4: really enjoyed') 4: really enjoyed
                        option(value='5: all-time fave') 5: all-time favorite
                    small No Error
                .mb-2.form-floating
                    textarea#comments.form-control(style='min-height: 100px;')
                    label(for='comments' style='color: grey') Optional comments
                .mb-2.form-check
                    input#ownit.form-check-input(type='checkbox', name='ownit')
                    label.form-check-label(for='ownit')
                    | Own a hard copy?
                .modal-footer
                    button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cancel
                    button#submit-book.btn.btn-primary(type='submit') Submit
  #commentsModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
   .modal-dialog
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title Comments
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
      .modal-footer
        button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close

//- to remove certain columns from table on phone:
//- .d-none.d-sm-table-cell


