extends layout

block content
 .container.friends-container
   h2.readers-headers Add books:
   button.btn.btn-primary.your-dash-btn
    a.your-books-link(href='/readers/#{currentUser.userId}') My Dashboard 
   h2.readers-headers View friends' books:
   p 
   .list-container-users
     ul.unordered-list-users
      if data.friend_list[0].following_details
       each user in data.friend_list[0].following_details
         - var fullname = `${user.first_name} ${user.last_name}`
         - var friendUrlPath = `${user.userId}`
          if user.userId != currentUser.userId 
           li.list-items-users
             a(href='/readers/#{friendUrlPath}') #{fullname}
     a.find-friends(href='/readers/follow') Find your friends!

  