extends layout

block content
 .container
   h2.readers-headers Add some books
   button.btn.btn-primary
    a.your-books-link(href='/readers/#{currentUser.userId}') My Book Dashboard 
   h2.readers-headers Friends you're following
   p Currently ALL users are displayed here. Coming soon: choose specific people to "follow"!
   .list-container-users
     ul.unordered-list-users
       each user in data.user_details
         - var fullname = `${user.first_name} ${user.last_name}`
         - var friendUrlPath = `${user.userId}`
          if user.userId != currentUser.userId 
           li.list-items-users
             a(href='/readers/#{friendUrlPath}') #{fullname}

  